$color1: rgba(25, 31, 37, 1);
$color2: rgba(93, 176, 112, 1);
$color3: rgba(36, 206, 218, 1);
$color4: rgba(68, 152, 255, 1);
$color5: rgba(241, 191, 108, 1);
$color6: rgba(219, 81, 102, 1);
$color7: rgba(184, 42, 100, 1);
$color8: rgba(187, 193, 208, 1);
$color9: rgba(148, 167, 203, 1);
$color10: rgb(26, 46, 68);